@model MovieDB.Business.Providers.MovieDBApi.Models.Response.MovieUpComingResponse;
@{
    ViewData["Title"] = "Upcoming Movie";
}

<div class="pagination">
    @if (Model.page > 1)
    {
        <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@(Model.page-1)">&laquo;</a>
    }
    else
    {
        <a class="notenabled">&laquo;</a>
    }
    @if (Model.page > 4 && Model.total_pages > 4)
    {
        <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="1">1</a>
        <p>...</p>
    }

    @{
        int say = 0;
        int startIndex = 1;
        if (Model.page - 1 > 0) startIndex = Model.page - 1;
        if (Model.page - 2 > 0) startIndex = Model.page - 2;
    }
    @while (startIndex <= Model.total_pages)
    {
        say++;
        if (Model.page == startIndex)
        {
            <a class="active" asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@startIndex">@startIndex</a>
        }
        else
        {
            <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@startIndex">@startIndex</a>
        }
        if (say > 5 && Model.total_pages - say > 2)
        {
            <p>...</p>
            <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@Model.total_pages">@Model.total_pages</a>
            break;
        }
        startIndex++;
    }
    @if (Model.total_pages > Model.page)
    {
        <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@(Model.page+1)">&raquo;</a>
    }
    else
    {
        <a class="notenabled">&raquo;</a>
    }
</div>

<div class="box">
    @foreach (var movieItem in Model.results)
    {
        <div class="movie">
            <div class=" movie-image">
                <a asp-controller="MovieDetail" asp-action="Index" asp-route-id="@movieItem.id">
                    <span class="showdetail">
                        <span class="moviebackground"></span>
                        <span class="name">Detail </span>
                    </span>

                    <img src="https://image.tmdb.org/t/p/w500@(movieItem.poster_path)" alt="" />
                    <div class="c100 p@((int)movieItem.vote_average*10) small">
                        <span>@(movieItem.vote_average > 0 ? ((int)movieItem.vote_average * 10).ToString()+"%" : "NR")</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="movietitle">
                <div>@movieItem.original_title</div>
            </div>
        </div>
    }
</div>
