@model MovieDB.Business.Providers.MovieDBApi.Models.Response.MovieUpComingResponse;
@{
    ViewData["Title"] = "Upcoming Movie";
}

<div class="pagination">
    @if (Model.page > 1)
    {
        @*<a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@(Model.page-1)"> &laquo;</a>*@
        <a href="/UpcomingMovie/getpage/2"> &laquo;</a>
    }
    else
    {

        <a class="notenabled">&laquo;</a>
    }
    @{int say = 0;}
    @for (int i = 1; i <= Model.total_pages; i++)
    {
        say++;
        if (Model.page == i)
        {
            <a class="active" asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@i"> @i</a>
        }
        else
        {
            <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@i"> @i</a>
        }
        if (say > 5 && Model.total_pages - say > 2)
        {
            <p>...</p>
            <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@Model.total_pages"> @Model.total_pages</a>
            break;
        }
    }
    @if (Model.total_pages > Model.page)
    {
        <a asp-controller="UpcomingMovie" asp-action="Index" asp-route-page="@(Model.page+1)">&raquo;</a>
    }
    else
    {
        <a class="notenabled">&raquo;</a>
    }
</div>

<div class="box">
    @foreach (var movieItem in Model.results)
    {
        <div class="movie">
            <div class=" movie-image">
                <span class="showdetail">
                    <span class="moviebackground"></span>
                    <span class="name">Detail </span>
                </span>
                <a href="#">
                    <img src="https://image.tmdb.org/t/p/w500@(movieItem.poster_path)" alt="" />
                    <div class="c100 p@((int)movieItem.vote_average*10) small">
                        <span>@(movieItem.vote_average > 0 ? ((int)movieItem.vote_average * 10).ToString()+"%" : "NR")</span>
                        <div class="slice">
                            <div class="bar"></div>
                            <div class="fill"></div>
                        </div>
                    </div>
                </a>
            </div>
            <div class="rating">
                <div>@movieItem.original_title</div>
            </div>
        </div>
    }
</div>
